table, th, td, tr{
    border: 1px solid black;
}
table{
    width: 300px;
}
.enlace{
    display: inline-block;
    background-color: blue;
}
/* Seleccionar id a apuntar */
#bloque{
    display: inline;
    background-color: blueviolet;
}